# exclude folders
#
__*/
.*/
build/
dist/
sdist/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg-info/
parts/
var/
trd/
upload/
doc/
log/

# exclude file patterns
*.py[cod]
*$py.class
*workspace
.*
gen_models.*

# include file patterns
!__init__.py
!.gitignore
