# exclude folders
#
__*/
build/
dist/
sdist/
develop-eggs/
eggs/
.eggs/
wheels/
*.egg-info/
parts/
var/
docs/

# include file patterns
!__init__.py

# exclude file patterns
*.py[cod]
*$py.class
*workspace
